@import "tailwindcss";

@theme {
  --font-display: "DM Sans", sans-serif;

  --color-black-primary : #0F100D;
  --color-black-secondary : #333333;
  --color-white : #FFFFFF;
  --color-white-secondary: #F3F3F3;
  --color-silver: #E0E0E0; 
  --color-orange: #E95102;
  --color-orange-secondary: #FDECE3;
  --color-gray : #646464;
  --color-gray-secondary: #878786;
}

* {
  /* @apply border border-red-500  */
}

.custom-scrollbar {
  @apply overflow-x-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 h-2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-orange rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-silver rounded-full;
}